@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fluid typography scales */
:root {
  --step--1: clamp(0.8705rem, 0.8658rem + 0.0239vw, 0.8843rem);
  --step-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --step-1: clamp(1.1487rem, 1.0504rem + 0.4914vw, 1.4313rem);
  --step-2: clamp(1.3195rem, 1.1451rem + 0.872vw, 1.8209rem);
  --step-3: clamp(1.5157rem, 1.2371rem + 1.3929vw, 2.3166rem);
  --step-4: clamp(1.7411rem, 1.3216rem + 2.0978vw, 2.9473rem);
  --step-5: clamp(2rem, 1.3914rem + 3.043vw, 3.7497rem);
  
  --foreground-rgb: 87, 86, 81;
  --background-rgb: 251, 250, 246;
}

.dark {
  --foreground-rgb: 234, 232, 224;
  --background-rgb: 32, 32, 31;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: "EB Garamond", serif;
  font-size: var(--step-0);
  line-height: 1.4;
  text-wrap: pretty;
  letter-spacing: 0.01em;
  padding: 0;
}

/* High-quality heading styles */
.heading-style {
  font-size: var(--step-5);
  font-weight: normal;
  text-wrap: balance;
  color: #575651;
  font-feature-settings: "liga", "calt", "dlig";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.dark .heading-style {
  color: #eae8e0;
}

.prose {
  max-width: 34em;
}

/* Add support for font-smoothing */
@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Flower animation styles */
.petals {
  position: relative;
  width: 200px;
  height: 100px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.petals li {
  position: absolute;
  height: 300px;
  width: 300px;
  border: 15px solid #e0e0e0;
  border-radius: 50%;
  animation: 0.75s infinite alternate ease-in-out;
}

.petals li:nth-child(1) {
  transform: translate(99.99px, 0);
  animation-name: petal-1;
}

.petals li:nth-child(2) {
  transform: translate(0, 50.01px);
  animation-name: petal-2;
}

.petals li:nth-child(3) {
  transform: translate(99.99px, 99.99px);
  animation-name: petal-3;
}

@keyframes petal-1 {
  to { transform: translate(99.99px, 99.99px); }
}

@keyframes petal-2 {
  to { transform: translate(99.99px, 0); }
}

@keyframes petal-3 {
  to { transform: translate(0, 50.01px); }
}