@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 245, 245, 245;
  --background-rgb: 245, 245, 245;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Add this to your globals.css or create a new CSS module */

.petals {
  position: relative;
  width: 200px;
  height: 100px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.petals li {
  position: absolute;
  height: 300px;
  width: 300px;
  border: 15px solid #e0e0e0;
  border-radius: 50%;
  animation: 0.75s infinite alternate ease-in-out;
}

.petals li:nth-child(1) {
  transform: translate(99.99px, 0);
  animation-name: petal-1;
}

.petals li:nth-child(2) {
  transform: translate(0, 50.01px);
  animation-name: petal-2;
}

.petals li:nth-child(3) {
  transform: translate(99.99px, 99.99px);
  animation-name: petal-3;
}

@keyframes petal-1 {
  to { transform: translate(99.99px, 99.99px); }
}

@keyframes petal-2 {
  to { transform: translate(99.99px, 0); }
}

@keyframes petal-3 {
  to { transform: translate(0, 50.01px); }
}